<launch>
        <arg name="model" default="$(find gazebo_pkg)/urdf/waking_robot.xacro" />
 
        <param name="robot_description" command="$(find xacro)/xacro  --inorder $(arg model)" />
        <!-- <arg name="model" default="$(find sentry)/urdf/xacro/car.urdf.xacro"/> -->

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="debug" value="false"/>
            <arg name="gui" value="true"/>
            <arg name="paused" value="false"/>
            <arg name="use_sim_time" value="true"/>
            <arg name="headless" value="false"/>
            <arg name="world_name" value="$(find sentry)/worlds/rmuc2.world"/>
            <!-- <arg name="world_name" value="$(find sentry)/worlds/empty.world"/> -->
    </include>

    <!-- <param name="robot_description" command="$(find xacro)/xacro $(find sentry)/urdf/xacro/car.urdf.xacro" /> -->
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args = "-param robot_description -urdf -x 10 -y 0 -z 0.3 -model robot "/>

</launch>